.boards-page-container{
    background-color: white;
    width: 100%;
    height: 100%;
    
}
.boards{
    width:100%;
    height:60%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    
}
.boards-container{
    display: flex;
    flex-wrap: wrap;
}
.boards-list-add-board{
    width: 270px;
    height: 200px;
    margin: 0 20px 20px 0;
    transform: translate(0);
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    background-color:#f4f5f7 ;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color:#172b4d;
        font-weight: 700;
        // margin-top: 10px;
        // margin-left: 10px;
        margin-right: 10px;
        font-size: 16px;
        letter-spacing: 1.1px;
    }
    &:hover{
        background-color:#e7e7e7e3 ;
    }
}
.boards-list{
    width: 270px;
    height: 200px;
    margin: 0 20px 20px 0;
    transform: translate(0);
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    // background-image: url(https://res.cloudinary.com/giladtoy/image/upload/v1638531156/rc9kslncvagzrkz2p2ru.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-color:#f4f5f7 ;
   
   

    p{
        font-weight: 700;
        margin-top: 10px;
        margin-left: 10px;
        color: white;
        font-size: 16px;
        letter-spacing: 1.1px;
    }
}
.board-boards{
    flex-grow: 2;
    margin: 40px 16px 0;
    min-width: 288px;
    max-width: 1500px;
    width: 100%;
    padding-block-start: 20px
}
.boards-list-header{
    display: flex;
    margin: 0 0 0 10px;
    padding: 0 0 20px;
    position: relative;

    .el-icon-user:before {
        content: "\e6e3";
        font-size: 25px;
        width: 32px;
        height: 32px;
        margin-inline-end: 10px;
        font-weight: 1000;
    }
}
.nav-side{
    margin: 40px 16px 0;
    padding:20px;
}
.modal-window{
    background-color: rgba(0,0,0,.659);
    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: flex;
    overflow-y: auto;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    .board-add-modal{
        max-width: 320px;

    }
    .add-modal-header{
        width: 300px;
        height: 100px;
        background-position: center center;
        background-size: cover;
       padding: 10px;
        background-size: cover;
        border-radius: 4px;

        input{
         border: none !important;
         background: transparent !important;
         box-shadow: none;
         box-sizing: border-box;
         color: #fff;
         font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
         font-size: 20px;
         font-weight: 700;
         line-height: 24px;
         margin-bottom: 4px;
         padding: 2px 8px;
         position: relative;
         
        }
        ::-webkit-input-placeholder { /* Edge */
           color: white;
         }
        input:focus, textarea:focus, select:focus{
            
           outline: none;
       }
       .input{
        // background:transparent !important;
         width: calc(100% - 18px - 40px);
         display: flex;
         justify-content: flex-start;
           border-radius: 6px;
           padding: 4px;
           
       }
        .input:hover{
            background-color:#e4e4e49f;
        }
       
    }
    .close-modal-btn {
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-size: 20px;
        position: relative;
        top: -40px;
        left: 255px;
        color: rgb(255, 255, 255);

    }
    .create-board-btn {
        display: flex;
        justify-content: flex-start;

        button{
            margin-top: 8px;
            background-color: #0079bf;
             box-shadow: none;
             border: none;
             color: #ffffff;
             padding: 10px 12px;
             cursor: pointer;
             border-radius: 3px;
             font-weight: 400;
             line-height: 20px;
             font-size: 16px;
            

        }
    }
.background-options{
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    button{
        width: 45px;
        height: 45px;
        border: none;
        margin: 5px;
        border-radius: 3px;
        cursor: pointer;
        &:hover{
            background-color: #b0b6b9d2;
         }

        
        

    }
    .background-img-btn{
        background-repeat: no-repeat;
        background-size: cover;
    }
   
    
}
    
    
}