.card-preview {
    overflow-wrap: break-word;
    // word-break: break-all;
  
}

.task-details-container {
    display: flex;
    flex-direction: row;
    padding-top: 7px;
    padding-bottom: 5px;
    flex-wrap: wrap;
    gap: 5px 0;
    align-items: center;
    justify-content: space-between;


    .tasks{
        display: flex;
        align-items: center;
        margin-left: 4px;
        gap: 6px;
        color: #6b778c;
        font-size: 13px;
    }



    .list-task-members {
        display: flex;
        gap: 3px;

    }

    img{
        width: 13px;
        filter: invert(48%) sepia(13%) saturate(602%) hue-rotate(179deg) brightness(92%) contrast(87%);
    }


    .due-later-badge {
        display: flex;
        align-items: center;
        gap: 2px;
        padding: 3px;
    
        &.due-date-done {
            color: white;
            background-color: #61bd4f;
            border-radius: 3px;
    
            > img {
                filter: invert(91%) sepia(100%) saturate(2%) hue-rotate(166deg) brightness(104%) contrast(101%);
                width: 13px;
            }
    
            @include hover-supported {
                background-color: darken(#61bd4f, 10%);
    
                & > img {
                    display: none;
                }
                &::before {
                    background-image: url("~@/assets/checklist.svg");
                    background-size: 15px 15px;
                    background-repeat: no-repeat;
                    display: inline-block;
                    height: 15px;
                    width: 15px;
                    content: "";
                    filter: invert(91%) sepia(100%) saturate(2%) hue-rotate(166deg) brightness(104%) contrast(101%);
    
                    img {
                        max-width: 5px;
                        max-height: 5px;
                    }
                }
            }
        }
        &.due-date-late {
            color: white;
            background-color: #eb5a46;
            border-radius: 3px;
    
            > img {
                filter: invert(91%) sepia(100%) saturate(2%) hue-rotate(166deg) brightness(104%) contrast(101%);
            }
    
            @include hover-supported {
                background-color: #b04632;
    
                > img {
                    display: none;
                }
                &::before {
                    font-family: cursive;
                    content: "\e919";
                    font-size: 16px;
    
                    img {
                        max-width: 5px;
                        max-height: 5px;
                    }
                }
            }
        }
        &.due-date-soon {
            color: white;
            background-color: #f2d600;
            border-radius: 3px;
    
            > img {
                filter: invert(91%) sepia(100%) saturate(2%) hue-rotate(166deg) brightness(104%) contrast(101%);
            }
    
            @include hover-supported {
                background-color: #d9b51c;
    
                > img {
                    display: none;
                }
                &::before {
                    font-family: cursive;
                    content: "\e919";
                    font-size: 16px;
    
                    img {
                        max-width: 5px;
                        max-height: 5px;
                    }
                }
            }
        }
    
    }

   
    
    



}

.checklist-badge {
    padding: 3px;
    border-radius: 3px;
    background-color: transparent;
    color: #6b778c;
   

    >img {
        position: relative;
        top: 2px;
        align-items: center;
        -o-object-position: center;
        object-position: center;
        height: 14px;
        filter: invert(48%) sepia(13%) saturate(602%) hue-rotate(179deg) brightness(92%) contrast(87%);
    }

    &.done-checklist {
        color: white;
        background-color: #61bd4f;
        > img {
            filter: invert(91%) sepia(100%) saturate(2%) hue-rotate(166deg) brightness(104%) contrast(101%);
        }
    }
}



.comments-badge {
    display: flex;
    gap: 2px;
    text-align: center;
    align-items: center;
    height: 15px;
}





