
.group-list{
    // width: 100%;
    display: flex;
    gap: 7px;
    height: 100%;
    width: 100vw;
    flex-basis: auto;
    margin: 7px 60px;
    font-family: trello;
    
    
    >* {
        margin-right: 5px;
        background-color: #ebecf0;
    }
    .card-container >*{
        background-color: white;
        box-shadow: 0 1px 0 #091e4240;
        padding: 6px 8px 2px;
        margin: 10px 8px;
        border-radius: 3px;
        cursor: pointer;
        text-align: start;
        color: #172b4d;

    }
    .card-container >*:hover{
        background-color: rgb(231, 233, 233);
    }
    
}
.card-add-edit{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-inline: 7px;
    
   
    
    textarea{
        border-radius: 6px;
        border: none;
        padding: 10px;
        box-shadow: 0 1px 0 #091e4240;
        resize: none;
        
        

    }
    ::placeholder {
        color:#5e6c84;
    }
    input:focus, textarea:focus, select:focus{
        outline: none;
    }
}
.card-actions{
    display: flex;
    align-items: center;
    margin-block: 7px;
    margin-inline-start: 7px;
    
    a{
        padding: 4px 8px;
        cursor: pointer;
        border-radius: 4px;
        margin-block: 7px;
        background-color: #0079bf;
        color:white;
        margin-inline-end:8px;
        padding: 10px;
        
    }
    a:hover{
        background-color: #0469a3
    }
    button{
            padding: 4px 8px;
            border:none;
            color: #091e4240 ;
            cursor: pointer;
            border-radius: 4px;
            margin-inline-end:8px;
            font-size: 40px;
            margin-bottom: 5px;
            
        
    }
    
}
.card-add-btn{
        margin-inline: 7px;
        padding: 4px 8px;
        cursor: pointer;
        border-radius: 4px;
        margin-block: 7px;
        background-color: rgb(211, 214, 214);;
        
    
    &:hover{
        background-color: rgb(201, 207, 207);
        color: #5e6c84;
    }
}
.group-list-container{
    display: flex;
    // width: -webkit-fit-content;
    // width: -moz-fit-content;
    // width: fit-content;
    // margin: 38px 4px;
    // max-height: 100%;
    height: fit-content;
    width: fit-content;
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    user-select: none;
    z-index: -1;
}
