
.group-list  {
    // width: 100%;
    display: flex;
    gap: 7px;
    height: 100%;
    // width: 100vw;
    flex-basis: auto;
    margin: 0px 5px;
    
       .group-preview{
           cursor: grabbing;
        margin-right: 5px;
        background-color: #ebecf0;
        --animate-duration: 1s;
        --animate-delay: 1s;
        --animate-repeat: 1;
        // ecedf0
    }
   
    .cards-container {
        /* display: flex; */
        /* position: relative; */
        /* min-height: 30px; */
        /* min-width: 30px; */
        overflow-y: auto!important;
        overflow-x: hidden;
        scroll-behavior: smooth;
        margin: 0 3px;
        // .draggable-groups >*:hover{
        //     background-color: #0079bf;
        // }
        .draggable-groups {
            height: 100%;
           
            /* position: relative; */
            /* min-height: 30px; */
            /* min-width: 30px; */
            /* margin: 0 5px 5px; */
            
            position: relative;
            min-height: 30px;
            min-width: 30px;
          
           
           
            .flip-move{
                transition: transform 0.6s ;
                box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.14);
                opacity: 0.7;
              }
            .card-main{
                margin: 0 5px 5px;
                /* margin: 0 5px 5px; */
                // overflow: hidden;
                display: block;
             
               
                
                .card-container {
                    position: relative;
                    flex-direction: column;
                    background-color: #fff;
                    // &:hover{
                    //     background-color: #0079bf;
                    // }
                   
                    // box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
                    border-radius: 3px;
                    max-width: 100%;
                    box-sizing: border-box;
                    min-height: 34px;
                    // padding: 4px 4px;
                    // margin: 0 0 2px;
                    font-size: 14px;
                    cursor: pointer;
                    // .card-container:hover{
                    //     background-color: rgb(231, 233, 233);
                    // }
                }
                // .cards-container:hover{
                //     background-color: rgb(231, 233, 233);
                // }

            }
        }
    }
    
    .card-container >*{
        font-family: Segoe UI,"Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
        // background-color: $addcard;
        // box-shadow: 0 1px 0 #091e4240;
        // padding: 6px 8px 2px 2px;
        // margin: 10px 8px;
        // padding: 5px 5px;
        min-height: 34px;
        // border-radius: 3px;
        cursor: pointer;
        // text-align: start;
        color: #172b4d;
        // box-shadow: 0 1px 0 #091e4240;
        // text-decoration: solid;
        padding-left: 5px;
        overflow-wrap: break-word;
        // margin: 2px 0 4px 5px;
        display: flex;
        // align-items: baseline;
        // width: 100%;
        // justify-content: space-around;
        position: relative;
        align-content: center;
        flex-wrap: wrap;

    //     position: relative;
    // flex-direction: column;
    background-color: #fff;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    border-radius: 5px;
    // max-width: 100%;
    // box-sizing: border-box;
    // min-height: 34px;
    // padding: 4px 4px;
    // margin: 2px 4px 2px;
    // font-size: 14px;
    // cursor: pointer;

        
        
    }
    .card-container>*:hover{
        background-color: rgb(231, 233, 233);
    }
    
    
}
.card-add-edit{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-inline: 7px;
    
    textarea{
        border-radius: 6px;
        border: none;
        padding: 10px;
        box-shadow: 0 1px 0 #091e4240;
        resize: none;
        
        

    }
    ::placeholder {
        color:#5e6c84;
    }
    input:focus, textarea:focus, select:focus{
        outline: none;
    }
}
.card-actions{
    display: flex;
    align-items: center;
    margin-block: 7px;
    margin-inline-start: 1px;
    
    a{
        padding: 4px 8px;
        cursor: pointer;
        border-radius: 4px;
        margin-block: 7px;
        background-color: #0079bf;
        color:white;
        margin-inline-end:8px;
        padding: 10px;
        
    }
    a:hover{
        background-color: #0469a3
    }
    button{
            padding: 4px 8px;
            border:none;
            color: #091e4240 ;
            cursor: pointer;
            border-radius: 4px;
            margin-inline-end:8px;
            font-size: 40px;
            margin-bottom: 5px;
            
        
    }
    
}
.card-add-btn{
        margin-inline: 7px;
        padding: 4px 8px;
        cursor: pointer;
        border-radius: 4px;
        margin-block: 7px;
        background-color: rgb(211, 214, 214);;
        
    
    &:hover{
        background-color: rgb(201, 207, 207);
        color: #5e6c84;
    }
}
.group-list-container{
    // z-index: 10;
    margin-left: 65px;
    margin-top: 45px;
    display: flex;
    // width: -webkit-fit-content;
    // width: -moz-fit-content;
    // width: fit-content;
    // margin: 38px 4px;
    // max-height: 100%;
    height: fit-content;
    width: fit-content;
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    user-select: none;
}
.group-add-btn{
    height: auto;
    width: 272px;
    border-radius: 3px;
    color: #172b4d;
    margin: 0px 8px 0px 4px;
    text-align: start;
    
    p{
        cursor: pointer;
        margin-left: 8px;
        padding: 5px;
           

    }
   
}

.add-group-form{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 5px 7px;
    margin-top: 5px;
    textarea{
    border-radius: 6px;
    border: none;
    padding: 10px;
    box-shadow: 0 1px 0 #091e4240;
    resize: none;
    &:focus{
        outline-color: #0079bf;
    }
    }

    .form-actions{
        display: flex;
        align-items: center;   
        margin-top: 2px;     
        a{
            padding: 4px 8px;
            cursor: pointer;
            border-radius: 4px;
            margin-block: 7px;
            background-color: #0079bf;
            color:white;
            margin-inline-end:8px;
            padding: 4px 12px;

            
        }
        button{
            border:none;
            margin-left: 4px;
            color: #091e4240 ;
            cursor: pointer;
            border-radius: 4px;
            margin-inline-end:8px;
            font-size: 35px;
            background-color: transparent;
            cursor: pointer;
            
        
    }
    }

}
.group-add-container{
    border-radius: 3px;
    height: 100%;
    background-color: #ebecf0;
    &:hover{
        background-color:#d8d8d8af ;
    }

}