.group-preview{
    width: 272px;
    
    vertical-align: top;
    .group-preview-header{
        height: 45px;
        display: flex;
        align-items: center;
        margin-inline-start: 7px;
        cursor: pointer;
        
    }

    
    height: 100%;
    display: table-cell;
    vertical-align: top;
}