.task-side-bar {
    position: relative;
    width: 159px;

    article {
        // list-style: none;
        margin: 0;
        padding: 0;
    }

    .edit-labels {
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        // margin: 0;
        // padding: 0;

        >div {
            // padding-right: 36px;
            // position: relative;


            position: relative;
            flex-grow: 1;
            border-radius: 3px;
            min-height: 20px;
            padding: 6px 12px;
            width: 173px;
            color: #fff;
            font-weight: 700;
            transition: padding 85ms, margin 85ms, box-shadow 85ms;
            cursor: pointer;

            >a {
                .icon-edit::before {
                    content: "\e928";
                }
            }

            >span {
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                background-color: #b3bac5;
                border-radius: 4px;
                color: #fff;
                display: block;
                margin-right: 4px;
                max-width: 100%;
                overflow: hidden;
                padding: 4px 6px;
                position: relative;
                text-overflow: ellipsis;
                white-space: nowrap;

                @include hover-supported {
                    box-shadow: inset 8px 0 #3434345c;
                    padding-left: 15px;
                }
            }

            >.mod-selectable {
                border-radius: 3px;
                cursor: pointer;
                font-weight: 700;
                // margin: 0 0 4px;
                min-height: 20px;
                padding: 6px 12px;
                position: relative;
                transition: padding 85ms, margin 85ms, box-shadow 85ms;

                display: flex;
                gap: 4px;
                flex-direction: column;
                width: 100%;
            }
        }
    }
}