.card-edit-window {
    // display: flex;
    // height: 500px;
    // width: 500px;
    // background-color: #fff;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 120;
    top: 0;
    left: 0;
    overflow-y: auto;

    .card-edit {
        // display: flex;
        // height: 500px;
        // width: 500px;
        // background-color: #fff;

        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #f4f5f7;
        border-radius: 3px;
        margin-top: 48px;
        width: 96vw;
        max-width: 768px;
        min-height: 70vh;
        top: -1%;
        left: 50%;
        transform: translate(-50%);
        overflow-y: hidden;
        overflow-x: hidden;
        gap: 10px;
        z-index: 100;
        .task-edit-container{
            padding: 5px 10px;

        
        .task-edit-header {
            // min-height: 125px;
            display: flex;
            align-items: center;
            width: 100%;
            .task-section {
                display: flex;
                align-items: center;
                width: 100%;
                margin-bottom: 10px;
                .main-title {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }
                // .icon-card {
                    
                // }

                .icon-card:before {
                    content: "\e912";
                }
            }
        }
    }
    }
}

.task-label-container{
    display: flex;
}
.controls-btns {
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 22px;
    margin-left: 38px;

    // .save-btn {
    //     background-color: #0079bf;
    //     border: none;
    //     box-shadow: none;
    //     color: #fff;
    //     height: 30px;
    // }
    // .cancel-btn {
    //     @include xBtn;
    // }
}
.button-link{
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 14px;
    background-color: rgba(9,30,66,.04);
    border: none;
    border-radius: 3px;
    //  width: 100%; 
    height: 25px;
    padding: 6px 12px;
    margin-top: 8px;
    text-transform: capitalize;
    cursor: pointer;
   
    @include hover-supported {
        background-color: rgba(9, 30, 66, 0.08);
    }
}
.icon-Members{
    margin: 0 6px 0 -6px;
    
}
.icon-Members:before{
    content: "\e946";
}
.icon-Labels{
    margin: 0 6px 0 -6px;
   
}
.icon-Labels:before{
    content: "\e93f";
}
.icon-Checklist{
    margin: 0 6px 0 -6px;
   
}
.icon-Checklist:before{
    content: "\e91a";
}
.icon-Dates{
    margin: 0 6px 0 -6px;
   
}
.icon-Dates:before{
    content: "\e946";
}
.icon-Attachment{
    margin: 0 6px 0 -6px;
   
}
.icon-Attachment:before{
    content: "\e908";
}
.icon-Cover{
    margin: 0 6px 0 -6px;
    
}
.icon-Cover:before{
    content: "\e944";
}
// ::content{
//     /* members */
//         content: "\e946";
//         /* labels */
//         content: "\e93f";
//         /* checklist */
//             content: "\e91a";
//         /* attachments */
//             content: "\e908";

//             /* cover */
//             content: "\e944";
// }