// * {
//     box-sizing: border-box;
// }

html {
    overflow-y: hidden;
    line-height: 1.6;
    font-size: 16px;
    padding: 0;
    height: 100vh;
    -webkit-text-size-adjust: 100%;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;

    ::-webkit-scrollbar {
        height: 15px;
        width: 12px;
        // display: none;
    }

    ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, .15);
        // background: rgba(9,30,66,.08);
        border-radius: 20px;
    }

    ::-webkit-scrollbar-button {
        height: 4px;
        width: 4px;
    }

    ::-webkit-scrollbar-thumb {
        background: hsla(0, 0%, 100%, .425);
        border-radius: 20px;
    }
}

body {
    // height: 100%;
    // margin: 0;
    // background-color: lightblue;
    // font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    // // font-family: Segoe UI;
    // -webkit-font-smoothing: antialiased;
    // color: #172b4d;;
    // font-size: 14px;
    margin: 0;
    // color: #172b4d;
    color: rgb(23,43,77);
    font-family: Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
textarea{
    font-family: Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}
.icon-lg, .icon-md, .icon-sm {
    color: #42526e;
}
.icon-lg, .icon-md {
    height: 32px;
    line-height: 32px;
    width: 32px;
}
.icon-sm {
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
}
.icon-lg {
    font-size: 24px;
}
.icon-lg, .icon-md, .icon-sm{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: trellicons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
}
.icon-close:before {
    content: "\e91c";
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0rem;
}
p {
    margin: 0;
}

.app {
    // font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;

    // color: #2c3e50;
    // width: 100%;
    // height: 100vh;
    // position: absolute;
    // top: 0;
    // left: 0;
    // z-index: -1;
    // background-size: cover;

    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 10;
    //   overflow-y: hidden;
    // overflow-x: hidden;
}

@font-face {
    font-family: Roboto;
    src: url(~@/assets/fonts/Roboto-Regular.ttf);
}
// rgb(
// font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
// C:\dev\Trellox\frontend\src\styles\setup\@\assets\fonts\Roboto-Regular.ttf
@font-face {
    font-family: roboto-bold;
    src: url(~@/assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Segoe UI;
    src: url(~@/assets/fonts/Segoe-UI.ttf);
    // src: url(~@/assets/fonts/Segoe_UI.woff);
}

@font-face {
    font-family: segoe-ui-bold;
    src: url(~@/assets/fonts/Segoe-UI-Bold.ttf);
}

@font-face {
    font-family: icomoon;
    src: url(~@/assets/fonts/icomoon.ttf);
}

@font-face {
    font-family: charlie-semibold;
    src: url(~@/assets/fonts/Charlie-Semibold.woff);
}

@font-face {
    font-family: charlie-regular;
    src: url(~@/assets/fonts/Charlie-Regular.woff);
}

.bold-font {
    font-family: "segoe-ui-bold";
}