// * {
//     box-sizing: border-box;
// }

html {
    overflow-y: hidden;
    line-height: 1.6;
    font-size: 16px;
    padding: 0;
    // height: 100vh;
    -webkit-text-size-adjust: 100%;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;

    ::-webkit-scrollbar {
        height: 15px;
        width: 12px;
        // display: none;
    }

    ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, .15);
        border-radius: 20px;
    }

    ::-webkit-scrollbar-button {
        height: 4px;
        width: 4px;
    }

    ::-webkit-scrollbar-thumb {
        background: hsla(0, 0%, 100%, .425);
        border-radius: 20px;
    }
}

body {

    margin: 0;
    color: rgb(23,43,77);
    font-family: Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
textarea{
    font-family: Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}
.icon-lg, .icon-md, .icon-sm {
    color: #42526e;
}
.icon-lg, .icon-md {
    height: 32px;
    line-height: 32px;
    width: 32px;
}
.icon-sm {
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
}
.icon-lg {
    font-size: 24px;
}
.icon-lg, .icon-md, .icon-sm{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: trellicons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
}
.icon-close:before {
    content: "\e91c";
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0rem;
}
p {
    margin: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all 0.3s ease;
}

.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to

{
    transform: translateX(10px);
    opacity: 0;
}

.slide-up-enter-active {
    transition: all .2s ease;
}

.slide-up-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-up-enter,
.slide-fade-leave-to {
    transform: translateY(100vh);
    opacity: 0;
}

.flex{
    display: flex;
}
.app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    position: absolute;
    // height: 100vh;
    height: 100%;
    flex-direction: column;
    width: 100%;
    z-index: 10;
    flex: 1;

}


.outter {
    // margin-right: 7px;

    > .smooth-dnd-drop-preview-constant-class {
        background-color: rgba(36, 36, 36, 0.308);
        width: 272px;
        margin: 0 7px;
        border-radius: 3px;
        transition: none;
    }
}

.tasks-container {
    > .smooth-dnd-drop-preview-constant-class {
        background-color: rgba(109, 109, 109, 0.1);
        min-height: 0px;
        max-width: calc(100% - 10px);
        // width: 252px;
        border-radius: 3px;
        margin: 0 auto;
    }
    overflow-y: auto!important;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.files-container {
    > .smooth-dnd-drop-preview-constant-class {
        background-color: rgba(109, 109, 109, 0.1);
        min-height: 0px;
        max-width: 656px;
        border-radius: 3px;
    }
}
.card-ghost {
    transition: transform 0.18s ease;
    transform: rotateZ(5deg);
    cursor: grabbing;
}
.card-ghost-drop {
    transition: transform 0.18s ease-in-out;
    transform: rotateZ(0deg);
}
.smooth-dnd-container {
    .horizontal{
        display: flex;
    }
    // min-height: 15px;
}

@font-face {
    font-family: Roboto;
    src: url(~@/assets/fonts/Roboto-Regular.ttf);
}
// rgb(
// font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
// C:\dev\Trellox\frontend\src\styles\setup\@\assets\fonts\Roboto-Regular.ttf
@font-face {
    font-family: roboto-bold;
    src: url(~@/assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Segoe UI;
    src: url(~@/assets/fonts/Segoe-UI.ttf);
    // src: url(~@/assets/fonts/Segoe_UI.woff);
}

@font-face {
    font-family: segoe-ui-bold;
    src: url(~@/assets/fonts/Segoe-UI-Bold.ttf);
}

@font-face {
    font-family: icomoon;
    src: url(~@/assets/fonts/icomoon.ttf);
}

@font-face {
    font-family: charlie-semibold;
    src: url(~@/assets/fonts/Charlie-Semibold.woff);
}

@font-face {
    font-family: charlie-regular;
    src: url(~@/assets/fonts/Charlie-Regular.woff);
}

.bold-font {
    font-family: "segoe-ui-bold";
}