.icon-activity:before {
    content: "\e900";
}

.icon-add:before {
    content: "\e901";
}

.icon-add-member:before {
    content: "\e902";
}

.icon-add-reaction:before {
    content: "\e903";
}

.icon-admin-chevron:before {
    content: "\e904";
}

.icon-app-store:before {
    content: "\e905";
}

.icon-application-switcher:before {
    content: "\e906";
}

.icon-archive:before {
    content: "\e907";
}

.icon-attachment:before {
    content: "\e908";
}

.icon-automation:before {
    content: "\e909";
}

.icon-back:before {
    content: "\e90a";
}

.icon-board:before {
    content: "\e90b";
}

.icon-board-collection:before {
    content: "\e90c";
}

.icon-box:before {
    content: "\e90d";
}

.icon-business-class:before {
    content: "\e90e";
}

.icon-butler-bot:before {
    content: "\e90f";
}

.icon-calendar:before {
    content: "\e910";
}

.icon-camera:before {
    content: "\e911";
}

.icon-card:before {
    content: "\e912";
}

.icon-card-aging:before {
    content: "\e913";
}

.icon-card-cover:before {
    content: "\e914";
}

.icon-card-recurring:before {
    content: "\e915";
}

.icon-check:before {
    content: "\e916";
}

.icon-check-circle:before {
    content: "\e917";
}

.icon-checkbox-checked:before {
    content: "\e918";
}

.icon-checkbox-unchecked:before {
    content: "\e919";
}

.icon-checklist:before {
    content: "\e91a";
}

.icon-clock:before {
    content: "\e91b";
}

.icon-close:before {
    content: "\e91c";
}

.icon-collection:before {
    content: "\e91d";
}

.icon-comment:before {
    content: "\e91e";
}

.icon-copy:before {
    content: "\e91f";
}

.icon-custom-field:before {
    content: "\e920";
}

.icon-dashboard:before {
    content: "\e921";
}

.icon-description:before {
    content: "\e922";
}

.icon-documents:before {
    content: "\e923";
}

.icon-down:before {
    content: "\e924";
}

.icon-download:before {
    content: "\e925";
}

.icon-dropbox:before {
    content: "\e926";
}

.icon-dropdown-options:before {
    content: "\e927";
}

.icon-edit:before {
    content: "\e928";
}

.icon-email:before {
    content: "\e929";
}

.icon-emoji:before {
    content: "\e92a";
}

.icon-enterprise:before {
    content: "\e92b";
}

.icon-external-link:before {
    content: "\e92c";
}

.icon-facebook:before {
    content: "\e92d";
}

.icon-filter:before {
    content: "\e92e";
}

.icon-flag:before {
    content: "\e92f";
}

.icon-fogbugz:before {
    content: "\e930";
}

.icon-forward:before {
    content: "\e931";
}

.icon-gear:before {
    content: "\e932";
}

.icon-github:before {
    content: "\e933";
}

.icon-google:before {
    content: "\e934";
}

.icon-google-drive:before {
    content: "\e935";
}

.icon-heart:before {
    content: "\e936";
}

.icon-help:before {
    content: "\e937";
}

.icon-home:before {
    content: "\e938";
}

.icon-house:before {
    content: "\e939";
}

.icon-image:before {
    content: "\e93a";
}

.icon-information:before {
    content: "\e93b";
}

.icon-instagram:before {
    content: "\e93c";
}

.icon-key:before {
    content: "\e93d";
}

.icon-kiln:before {
    content: "\e93e";
}

.icon-label:before {
    content: "\e93f";
}

.icon-leave-board:before {
    content: "\e940";
}

.icon-lightbulb:before {
    content: "\e941";
}

.icon-lightbulb-lit:before {
    content: "\e942";
}

.icon-list:before {
    content: "\e943";
}

.icon-location:before {
    content: "\e944";
}

.icon-log-out:before {
    content: "\e945";
}

.icon-member:before {
    content: "\e946";
}

.icon-mention:before {
    content: "\e947";
}

.icon-microphone:before {
    content: "\e948";
}

.icon-microphone-off:before {
    content: "\e949";
}

.icon-move:before {
    content: "\e94a";
}

.icon-nearby:before {
    content: "\e94b";
}

.icon-notification:before {
    content: "\e94c";
}

.icon-number:before {
    content: "\e94d";
}

.icon-onedrive:before {
    content: "\e94e";
}

.icon-open-source:before {
    content: "\e94f";
}

.icon-organization:before {
    content: "\e950";
}

.icon-organization-visible:before {
    content: "\e951";
}

.icon-overflow-menu-horizontal:before {
    content: "\e952";
}

.icon-overflow-menu-vertical:before {
    content: "\e953";
}

.icon-password-manager:before {
    content: "\e954";
}

.icon-placeholder:before {
    content: "\e955";
}

.icon-power-up:before {
    content: "\e956";
}

.icon-preferences:before {
    content: "\e957";
}

.icon-priority-highest:before {
    content: "\e958";
}

.icon-private:before {
    content: "\e959";
}

.icon-public:before {
    content: "\e95a";
}

.icon-refresh:before {
    content: "\e95b";
}

.icon-remove:before {
    content: "\e95c";
}

.icon-remove-member:before {
    content: "\e95d";
}

.icon-reply:before {
    content: "\e95e";
}

.icon-screenshare:before {
    content: "\e95f";
}

.icon-search:before {
    content: "\e960";
}

.icon-selection-mode:before {
    content: "\e961";
}

.icon-send:before {
    content: "\e962";
}

.icon-share:before {
    content: "\e963";
}

.icon-slack:before {
    content: "\e964";
}

.icon-sparkle:before {
    content: "\e965";
}

.icon-star:before {
    content: "\e966";
}

.icon-starred:before {
    content: "\e967";
}

.icon-sticker:before {
    content: "\e968";
}

.icon-subscribe:before {
    content: "\e969";
}

.icon-sync:before {
    content: "\e96a";
}

.icon-table:before {
    content: "\e96b";
}

.icon-taco:before {
    content: "\e96c";
}

.icon-template-board:before {
    content: "\e96d";
}

.icon-template-card:before {
    content: "\e96e";
}

.icon-template-create:before {
    content: "\e96f";
}

.icon-text:before {
    content: "\e970";
}

.icon-timeline:before {
    content: "\e971";
}

.icon-trash:before {
    content: "\e972";
}

.icon-trello-gold:before {
    content: "\e973";
}

.icon-twitter:before {
    content: "\e974";
}

.icon-up:before {
    content: "\e975";
}

.icon-upload:before {
    content: "\e976";
}

.icon-video:before {
    content: "\e977";
}

.icon-video-off:before {
    content: "\e978";
}

.icon-view-calendar:before {
    content: "\e979";
}

.icon-view-dashboard:before {
    content: "\e97a";
}

.icon-view-gallery:before {
    content: "\e97b";
}

.icon-view-list:before {
    content: "\e97c";
}

.icon-view-map:before {
    content: "\e97d";
}

.icon-view-table:before {
    content: "\e97e";
}

.icon-view-timeline:before {
    content: "\e97f";
}

.icon-view-whiteboard:before {
    content: "\e980";
}

.icon-vote:before {
    content: "\e981";
}

.icon-warning:before {
    content: "\e982";
}
