/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (min-width: $break-narrow) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $break-normal) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: $break-wide) {
    @content;
  }
}

@mixin layoutGTC($max) {
  grid-template-columns:
    minmax($layoutPadding, 1fr)
    minmax(auto, $max)
    minmax($layoutPadding, 1fr);
}


/* Media  Mixins */

//aspect ratio mixin
@mixin aspect-ratio($width: 1, $height: 1) {
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: ($height / $width) * 100%;
    }
    > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }  
    > img {
      height: 100%;
      object-fit: cover;
    }
  }
  
  // Mixin for removing hover efects on iphone screen
  @mixin hover-supported {    
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
  }

  @mixin primaryBtn {
    background-color: $boxShadowMain;
    font-weight: 600;

    text-align: center;
    border-radius: 3px;
    color: white;
    padding: 9px 12px;
    margin-top: 0;
    font-size: 14px;

    transition: all 5ms;
    
    @include hover-supported {
        background-color: #006aa7;
        cursor: pointer;
    }
}

@mixin xBtn() {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 15px;
    margin-left: 5px;

    > img {
        display: inline-block;
        height: 100%;
        align-items: center;
        padding: unset;
        filter: invert(48%) sepia(19%) saturate(417%) hue-rotate(180deg) brightness(92%) contrast(88%);
    }
    @include hover-supported {
        img {
            cursor: pointer;
            filter: invert(13%) sepia(97%) saturate(527%) hue-rotate(180deg) brightness(91%) contrast(94%);
        }
    }
}

@mixin mainTextarea {
  width: 100%;

  textarea {
      @content;
      display: flex;
      border: none;
      border-radius: 3px;
      padding: 8px 12px;
      text-decoration: none;
      color: $textClr;
      overflow: hidden;
      resize: none;

      &::placeholder {
          color: $textClr;
          font-size: 14px;
      }

      &:focus {
          background-color: #fff;
          outline: none;
          box-shadow: inset 0 0 0 2px $boxShadowMain;

          &::placeholder {
              color: $secondaryTitle;
              font-weight: 600;
          }
          @include hover-supported {
              background-color: #fff;
          }
      }
  }
}
@mixin primaryInput {
  box-shadow: inset 0 0 0 2px #dfe1e6;
  background-color: #fafbfc;
  border-radius: 3px;
  border: none;
  outline: none;
  // padding: 8px 12px;
  padding: 0 15px;
  margin: 4px 0 4px;
  
  &:hover:not(:focus) {
      background-color: #ebecf0;
  }

  &:focus {
    transition: box-shadow .2s cubic-bezier(.645,.045,.355,1);
      box-shadow: inset 0 0 0 2px $boxShadowMain;
      
  }
}


