
.app-header{
    max-height: 40px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #0079bec2;
    box-sizing: border-box;
    padding: 5px;

    
    a{
        text-decoration: none;
        margin-inline: 2px;
    }

    .nav{
        display: flex;

        img{
            filter: invert(100%) sepia(0) saturate(7479%) hue-rotate(
            191deg) brightness(114%) contrast(100%);
        }

        button{
            background-color: #ffffff4a;
            border: none;
            border-radius: 4px;
            padding: 3px 6px;
            cursor: pointer;
            @include hover-supported {
                background-color: #6cadd3;
                cursor: pointer;
            }
        }
        .board-header-btn{
            color: white;
            align-items: center;
            padding: 3px;
            display: flex;
            cursor:pointer;

            p{
                font-weight: bold;
            }
        }
        .board-header-btn p{
            margin: 0;
        }
    }
    .logo{
        width: 90%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-right{
        width: 100px;
        display: flex;
        justify-content: flex-end;

        button{
            background-color: #ffffff4a;
            border: none;
            border-radius: 4px;
            padding: 3px 6px;
            cursor: pointer;
            @include hover-supported {
                background-color: #84b8d4;
                cursor: pointer;
            }
        }
        img{
            filter: invert(100%) sepia(0) saturate(7479%) hue-rotate(
            191deg) brightness(114%) contrast(100%);
            
        }
    }
    
}
