.aside-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 248, 252);
    width: 200px;
    right: 0;
    top: 42px;
    width: 339px;
    color: #172b4d;
    height: 100vh;
    background-color: #f4f5f7;
    padding: 12px 6px 12px 12px;
    z-index: 1;
    box-shadow: 0 0 2px 1px #e1e2e8;

    .aside-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        min-height: 40px;
        font-size: 16px;
        border-bottom: 1px solid rgba(9, 30, 66, .13);
        color: #172a4d;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 1;
        .header {
            display: flex;
        }

        

        .close-aside-btn {
            display: flex;
            justify-content: center;
            align-self: center;

            margin-left: 5px;
            position: absolute;
            top: 14px;
            right: 0;
            height: 14px;
            width: 14px;


        }

    }

    img {
        width: 12px;
    }

    .menu-container {
        padding: 6px 6px 6px 12px;
        font-size: 1rem;
        font-weight: 600;
        display: flex;

        .bgc-btn {
            padding: 6px 6px 6px 12px;
            font-size: 1rem;
            font-weight: 600;
            display: flex;
            font-size: 14px;
            width: 100%;
            div {
                height: 20px;
                margin-right: 8px;
                width: 20px;
                display: inline-block;
                background-size: cover;
                border-radius: 3px;
            }
        }

        .bgc-btn:hover {
            background-color: #e7e9e9;
            border-radius: 3px;
            cursor: pointer;
            
        }

        .bgc-btns{
            height: 60vh;
            display: flex;
            flex-direction: row-reverse;
            gap: 9px;
            padding: 12px 12px 12px 12px;

            .img-options{
                width: 152px;
                height: 98px;
                background-image: url(~@/assets/bgs.jpg);
                background-size: cover;
                border-radius: 8px;
                background-color: #dfe1e6;
            }

            .color-options{
                width: 152px;
                height: 98px;
                background-image: url(~@/assets/colors.jpg);
                background-size: cover;
                border-radius: 8px;
                background-color: #dfe1e6;
            }
            div {
                height: 80px;
                border-radius: 3px;
                background-size: cover;
            }


        }


    }



}





.aside-menu-open {
    opacity: 1;
    margin-right: 0;
    overflow: visible;
    transition: all 0.5s ease;


}

.aside-close {
    opacity: 0;
    margin-right: -330px;

}